{% extends 'webapp/base.html'%}
{% block title %}orderplaced{% endblock %}

{% block body %}
	<div class="container">
		<br>
		<h1 class="text-center"><mark><strong>Thank You For Placing the Order</strong></mark></h1>
		<br>
		<h2 class="text-center"><strong>Your Products will be shipped soon!!</strong></h2>
		<br>
                <h2 class="text-center"><mark>The feedback form is posted successfully!</mark></h2>
		<br>
		<h4 class="text-center"><a href="{% url 'restuarant'%}"><strong>Go back</strong></a></h4>
                
                <br>
                <br>
                
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock%}